body{
  text-align: center;

}
img{
  height: 20px;
  width:20px;
  color: #9ecfd1;
}
a{
  color: #9ecfd1;
  padding-left: 10px;
  padding-right: 10px;
    text-decoration: none;
}
.footer{
  background-color: rgb(57, 113, 218);
}
.footer img:hover{
  transform: scale(1.1);
}
.email:hover{
  transform: scale(1.1);
}
