.wrapper{
  width: 100%;
  overflow: hidden;
}
.item{
  background: white;
  height: 300px;
}
.img1{
  height: 300px;
  filter: brightness(75%);
}
.img1:hover{
  filter: brightness(100%);
  scale:1.1;
}
.owl-dots{
  display: none;
}
.gallery1{

}
.exe{

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;

}


.wrapper1{
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;

}
.head1{
    width: 100%;
    height: 35px;
    background-color: green;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 25px;
}
.head1 p{
    padding: 1px 0;
    color: white;
}
.container1{
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
}
.wrapper1 img{
    border-radius: 50%;
}
.image1{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle1 {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -80px;
  }
  .container1:hover .image1 {
    opacity: 0.3;
  }
  .container1:hover .middle1 {
    opacity: 1;
  }
  .text1 {
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: black;
  }
